# Only ignore specific Release/Debugs
NOLF/*/Release
NOLF/*/Debug
LT2/lithshared/built/Release
LT2/lithshared/built/Debug
CRes.dll
CShell.dll
# There's no pre-built libs in Final Release, so just ignore it all
Final_Release
*.opendb
*.log
# *.dll
*.lto
*.plg
.vs
.vscode
*.db
*.db*
*.sdf
UpgradeLog*.htm
ART
*.pdb
NOLF/ClientRes/Release-EN/main.obj
NOLF/ClientRes/Release-EN/cres.ilk
NOLF/ClientRes/Release-EN/cres.dll.recipe
NOLF/ClientRes/Release-EN/ClientRes.vcxproj.FileListAbsolute.txt
NOLF/ClientRes/Release-EN/ClientRes.tlog/rc.write.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/rc.read.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/rc.command.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/link.write.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/link.read.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/link.command.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/ClientRes.lastbuildstate
NOLF/ClientRes/Release-EN/ClientRes.tlog/CL.write.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/CL.read.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.tlog/CL.command.1.tlog
NOLF/ClientRes/Release-EN/ClientRes.res
