#include "ClientRes.h"
#include "afxres.h"

IDC_POINTER CURSOR "arrow.cur"

#if defined(LANG_DE)
  LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
  INTRO   TEXT "Lang\\DE\\intro.txt"
  CREDITS TEXT "Lang\\DE\\credits.txt"
  #include "Lang\\DE\\strings.rc"

#elif defined(LANG_FR)
  LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
  INTRO   TEXT "Lang\\FR\\intro.txt"
  CREDITS TEXT "Lang\\FR\\credits.txt"
  #include "Lang\\FR\\strings.rc"

#else
  LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
  INTRO   TEXT "Lang\\EN\\intro.txt"
  CREDITS TEXT "Lang\\EN\\credits.txt"
  #include "Lang\\EN\\strings.rc"
#endif

